---
import { getCollection } from "astro:content";
import BlogPostList from "../../components/BlogPostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await getCollection("blog");
---

<BaseLayout title="Blog">
  <div class="grid gap-y-12 max-w-screen-md mx-auto">
    <section class="flex flex-grow">
      <BlogPostList posts={posts} />
    </section>
  </div>
</BaseLayout>
